@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



@media (max-width: 768px) {
  .container {
      width: 100%;
      padding: 0 1rem;
  }
}

.gradient-bg {
  background: linear-gradient(135deg, #fff5f5 0%, #fff 100%);
}

.card-hover:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.product-container::-webkit-scrollbar {
  display: none;
}